* 
{
  margin: 0;
  padding: 0;
}

body
 {
  color: white;
  font-family: "Nunito", sans-serif;
}

.enter 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8ecae6;
}
.enter_div 
{
  display: grid;
  grid-template-columns: 1fr 6fr;
  place-items: center;
  height: 95vh;
  width: 95%;
  background-color: #023047;
  border: solid 1px #023047;
  border-radius: 10px;
}

h1 
{
  margin-left: 30px;
  font-size: 30px;
}

.section 
{
  height: 90%;
  width: inherit;
  display: grid;
  grid-template-rows: 1fr 3fr;
  place-items: center start;
}

.section_img 
{
  height: 70vh;
  width: 500px;
  border: solid 1px none;
  border-radius: 10px;
  margin-left: 20px;
}

.section_user 
{
  display: flex;
  flex-direction: column;
  width: calc(100% - 20%);
  margin-top: 30px;
}

.data_user_input 
{
  height: 40px;
  margin-bottom: 40px;
  border: solid 3px white;
  border-radius: 10px;
}
.data_user_button 
{
  width: 100px;
  height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: white;
  background-color: #8ecae6;
  margin-bottom: 10px;
  border: 1px solid #8ecae6;
  border-radius: 9px;
}

/*Pagina Balance*/
.body_balance
{
  color: black;
}

.form_account
{
  display: grid;
  grid-template-columns: 1fr 9fr;
  height: 100vh;
}

.material-symbols-outlined{
  font-size: 50px;
  color: orange;
}
.sidebar{
  display: grid;
  grid-template-rows: 1fr 7fr;

}

.sidebar_ul{
  visibility: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  list-style-type: none;
}

.sidebar:hover
{
  background-color: #8ECAE6;
  border: solid 4px #023047;
  color: white;

}

.sidebar:hover > .material-symbols-outlined {
  color: white;
}

.sidebar:hover > .sidebar_ul
{
  visibility: visible;
}

li
{
  width: 100px;
  height: 50px;
  color: white;
  font-weight: bold;
  background-color: #023047;
  border: 1px solid none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar_ul_balance{
  text-align: center;
}

.Account
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px
}

h1{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #023047;
}
.Account_info_user,.balance_account_user{
  height: 30vh;
  border: 3px solid #FB8500;
}
.Account_info_user_table{
  height: inherit;
  font-size: 40px;
  color: #FB8500;
  font-weight: bold;
}
.balance_account_user{
  height: 15vh;
  font-size: 40px;
  color: #FB8500;
  font-weight: bold;
}
legend{
  font-size: 30px;
  color: #FFB703;
  font-weight: bold;
}

/*Paginas depositar y retirar*/

.div_money{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 50px;
  padding-left: 50px;
  height: 90vh;
}
.div_money_title{
    margin-bottom: 30px;
    font-size: 80px;
}
.div_money_table2{
    gap:60px;
    border-collapse: collapse;
    border: 3px solid #FB8500;
    font-size: 60px;
}
.div_money_table2_tr, .div_money_table2_tr_clear{
    height: 20vh;
    margin-bottom: 20px;
    border: 4px solid #FB8500;
    background-color: #FFB561;
    font-weight: bold;
    color: #023047;
}
.div_money_table2_tr_clear{
    background-color: #FFD97B;
}
.div_money_table2_tr_select{
    height: 10vh;
    width: 50vh;
    align-self: left;
    border: 2px solid #FB8500;
    border-radius: 10px;
    background-color: #FFB561 ;
    font-size: 30px;
}
.section_value{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    color: #023047;
}
.section_value_move{
    height: 10vh;
    width: 40vh;
    font-size:30px ;
    font-weight: bold;
    background-color: #FB8500;
    border: 2px solid  #FB8500;
    border-radius: 10px;
    
}


